/*
    Meteor Pagination - Copyright (C) 2015  Aldric T
    aldric.dev@gmail.com

    License:  GNU General Public License

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

.paginate-container {
    width: 100%;
    position: relative;
}

.paginate-container ul{
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.paginate-container li {
    display: inline-block;
    text-decoration: none;
    padding: 0 !important;
    min-width: 30px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 2px;
    border: solid 1px #7d7d7d;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-color: #b8b1b8;
    position: relative;
    cursor: pointer;
}

.paginate-container li:not(.nav) {
    display: none;
}

.paginate-container li.nav {
    height: 40px;
}

.paginate-container li.arrow-l {
    width: 20%;
}

.paginate-container li.arrow-s {
    width: 17%;
}

.paginate-container li.page-count {
    width: 15%;
    vertical-align: top;
}

.paginate-container li.page-count > div {
    margin-top: 10px;
}

.paginate-container li.totalClass > div {
    margin-top: 0;
}

.paginate-container .ldrc-count {
    position: absolute;
    margin-left: 50%;
    top: 35px;
}

.paginate-container .ldrc-count span {
    margin-left: -50%;
}

.paginate-container li.navstart .triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 19px 34.6px 19px 0;
    border-color: transparent #007bff transparent transparent;
    line-height: 0px;
    _border-color: #000000 #007bff #000000 #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
    float: left;
}

.paginate-container li.navend .triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 19px 0 19px 34.6px;
    border-color: transparent transparent transparent #007bff;
    line-height: 0px;
    _border-color: #000000 #000000 #000000 #007bff;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
    float: right;
}

@media (min-width: 501px) {
   /* .paginate-container {
        display: inline-block;
        position: relative;
        margin-left: 50%;
    }

    .paginate-container ul {
        margin-left: -50%;
        position: relative;
    }

    .paginate-container li > div {
        text-align: center;
        line-height: 20px;
    }

    .paginate-container li a {
        text-decoration: none;
    }

    .paginate-container li.active {
        background-color: #f0dff0;
        cursor: auto;
        padding: 0;
    }

    .paginate-container li.active a {
        color: blue;
        font-size: 20px;
    }
    */
}